@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: SUIT-Regular, cursive;
}

/* @font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
* {
    font-family:Pretendard-Regular, cursive;
} */

.notification {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #636363;
    color: #fff;
    padding: 15px 25px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    opacity: 1;
}

.notification.hide {
    opacity: 0;
    transform: translateX(-50%) translateY(-20px);
}

.notification-icon {
    margin-right: 10px;
    vertical-align: middle;
}

.notification-msg {
    display: inline-block;
    vertical-align: middle;
}


input:focus {
    outline: none;
}

body, html {
    position: relative;
    margin: 0;
    padding: 0;
    height: auto;
}

.sidebar {
    height: 100%;
    width: 250px;
    background-color: white;
    color: #323232;
    padding-left: 10px;
    padding-right: 10px;
    /* border-right: 1px solid #d6d6d6; */
}

.mainContainer {
    display: flex;
    height: 100vh;
    margin-bottom: 50px;
}

.mainContent {
    flex: 1;
}

.Logo {
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Logo img {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}

.myLogin {
    display: flex;
}

.loginBtn, .registBtn {
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    color: black;
    width: calc(50% - 5px);
    padding: 10px;
    border: none;
    font-size: 15px;
    margin: 5px;
    background-color: #e5ecfc;
}

.loginBtn:hover, .registBtn:hover {
    background-color: #dbe4f6;
}

.profile-zone {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%;
}

.profile-img {
    width: 90px;
    height: 90px; 
    border-radius: 50%; 
    object-fit: cover;
}

.myInfo {
    padding: 10px;
}

.hellop {
    display: inline-block;
    color: #6d70c4;
    margin: 0;
}
.hellop2 {
    display: inline-block;
    margin: 0;
}

.menuCategory2 {
    padding: 0;
    width: 100%;
    border-left: 1px solid #d8d8d8;
    margin-top: 5px;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 5px;
}

.menu ul li {
    padding: 11px;
    width: 250px;
}

.menu li {
    cursor: pointer;
}

.menu ul li a {
    margin-top: 3px;
    color: #323232;
    padding: 5px;
}

.menuCategory2 a {
    font-size: 13px;
    cursor: pointer;
}
.cateoryA {
    text-decoration-line: none;
}

.menu .cateoryLi:hover .cateoryA {
    background-color: #e5ecfc;
}

.menu .cateoryLi2:hover .cateoryA2 {
    background-color: #e5ecfc;
}

.menu ul li a:hover {
    background-color: #e5ecfc;
}

.header-bar {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 60px;
}

.headerIcon {
    float: right;
    margin-right: 40px;
    margin-top: 9px;
}


.bell-icon {
    position: relative;
    display: inline-block;
}

.chat-icon {
    position: relative;
    display: inline-block;
}

.bi-bell {
    margin: 12px;
}

.bi-chat {
    margin: 12px;
}

.new-bell, .new-chat {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #e5ecfc;
    font-size: 10px;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: 2px solid #383838;
}

.loginContent {
    padding: 30px;
    margin: 0 auto;
    width: 500px;
    height: 500px;
}

.registContent {
    padding: 30px;
    margin: 0 auto;
    width: 600px;
    height: 100%;
}

.logo-login, .logo-regist {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-login img {
    width: 50%;
    height: 50%;
    margin: 0 auto;
}

.logo-regist img {
    width: 35%;
    height: 40%;
    margin: 0 auto;
}

.login-p {
    display: inline-block;
    padding: 10px;
    margin-right: 10px;
}

.login-id {
    margin-right: 24px !important;
}

.login-input {
    width: 70%;
    height: 25px;
    font-size: 15px;
    padding: 5px;
}

.login-btn, .regist-btn {
    width: 90%;
    padding: 10px;
    margin: 20px auto;
    background-color: #e5ecfc;
    border: 1px solid #dadada;
    border-radius: 9px;
    cursor: pointer;
    margin-bottom: 100px;
}

.login-btn:hover {
    background-color: #dbe4f6;
}

.my-feed {
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    color: black;
    width: 43%;
    padding: 10px;
    border: none;
    font-size: 15px;
    margin: 5px;
    background-color: #e5ecfc;
}

.logout-btn {
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    color: black;
    width: 43%;
    padding: 10px;
    border: none;
    font-size: 15px;
    margin: 5px;
    background-color: #e5ecfc;
}

.logout-btn:hover,.my-feed:hover {
    background-color: #dbe4f6;
}

.regist-input-id {
    width: 50%;
    height: 20px;
    font-size: 15px;
    padding: 5px;
}

.regist-input {
    width: 70%;
    height: 20px;
    font-size: 15px;
    padding: 5px;
}

.id-check {
    width: 18%;
    height: 35px;
    padding: 5px;
    margin: 5px;
    margin-left: 10px;
    background-color: #dbe4f6;
    cursor: pointer;
    border: none;
    border-radius: 0.2em;
}

.regist-p {
    display: inline-block;
    padding: 10px;
    margin-right: 10px;
    width: 71px;
    margin-top: 0;
    margin-bottom: 0;
}


.phone-input {
    width: 18.5%;
    height: 20px;
    padding: 5px;
    text-align: center;
    font-size: 15px;
    margin-right: 8px;
    margin-left: 8px;
}

.birth-box {
    width: 22.3%;
    margin-right: 8px;
    margin-left: 8px;
    height: 31px;
    padding: 5px;
    outline: none;
    font-size: 14px;
}

.phone-input-first {
    margin-left: 0;
}

.birth-year-box {
    margin-left: 0;
}

.regist-cate {
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin-top: 4px;
}

.regist-cate-p {
    display: inline-block;
    margin-right: 10px;

}

.regist-cate-p2 {
    display: inline-block;
    font-size: 11px;
}

.cate-select {
    width: 88%;
    height: 35px;
    font-size: 15px;
    padding: 5px;
    text-align: center;
    outline: none;
}

.regist-category-select {
    width: 88%;
    height: 150px;
    overflow-y: scroll;
}

.regist-category-select::-webkit-scrollbar {
    width: 10px;
}

.regist-category-select::-webkit-scrollbar-thumb {
    background-color: #dbe4f6;
    border-radius: 10px;
}

.regist-category-select::-webkit-scrollbar-track {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}

.regist-category-select ul {
    margin: 0;
}

.regist-category-select li {
    list-style: none;
    text-align: center;
    padding: 5px;
}

.regist-category-select li:hover {
    background-color: #eff4ff;
    cursor: pointer;
}

.regist-category-select li.active {
    color: #98a7c7;
}

.reigst-k {
    margin: 10px 0;
}

.regist-kwd {
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.regist-kwd-p {
    display: inline-block;
    margin-right: 10px;
}

.regist-kwd-p2 {
    display: inline-block;
    font-size: 11px;
}

.regist-select-kwd ul {
    margin: 0;
}

.regist-select-kwd li {
    list-style: none;
    display: inline-block;
    background-color: #f5f8fe;
    padding: 6px;
    margin: 3px;
    cursor: pointer;
    border-radius: 1em;
}

.regist-select-kwd li.active {
    background-color: #dae7ff;
    /* border: 1px solid #9f9f9f; */
}

.msg {
    font-size: 11px;
    margin: 0;
    padding: 0;
    margin-left: 101px;
    height: 16px;
    color: rgb(255, 107, 107);
}

.regist-mail {
    width: 28%;
    margin-right: 5px;
}

.mail-select {
    height: 35px;
    padding: 5px;
    margin-left: 5px;
    outline: none;
}

.email-auth {
    width: 18%;
    height: 35px;
    padding: 5px;
    margin-left: 10px;
    background-color: #dbe4f6;
    cursor: pointer;
    border: none;
    border-radius: 0.2em;
}

.regist-email {
    width: 51%;
}

.code-check {
    margin-left: 10px;
}

.password-input-container {
    position: relative;
}

.password-toggle-icon {
    width: 19px;
    color: #555555;
    position: absolute;
    top: 50%;
    right: 85px; /* 원하는 우측 여백 조정 */
    transform: translateY(-50%);
    cursor: pointer;
}

.password-input-container2 {
    position: relative;
}

.password-toggle-icon2 {
    width: 19px;
    color: #555555;
    position: absolute;
    top: 50%;
    right: 85px; /* 원하는 우측 여백 조정 */
    transform: translateY(-50%);
    cursor: pointer;
}
.myinfoP {
    text-align: center;
    margin-bottom: 10px;
}
.login-checkbox {
    text-align: center;
    margin-top: 0;
}
.login-checkbox input {
    width: 10px;
    margin-right: 5px;
}
.login-checkbox label {
    margin-right: 10px;
    font-size: 14px;
}
.profile-upload-zone {
    display: flex;
    align-items: center; /* 세로 중앙 정렬 */
}

.search-all {
    width: 320px;
    height: 20px;
    padding:10px;
    margin: 16px;
    border: 1px solid #ccc;
    border-radius: 13px;
    font-size: 13px;
    margin-right: 8px;
    position: absolute;
  }
  .allSearch {
    position: relative;
    top: 26px;
    left: -18px;
    z-index: 10px;
    color: #989898;
    cursor: pointer;
}
  
  .search-all-btn {
    padding: 7px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    
  }
  
  .search-all-btn:hover {
    background-color: #0056b3;
  }

  .search-zone {
    display: inline-block;
    width: 57%;
    
  }

  .search-all-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    flex-direction: row;
  }