.post-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.post-img-container {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.post-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: filter 0.3s ease;
}

.post-img-container:hover .post-img {
  filter: brightness(30%);
}

.post-title {
  position: absolute;
  bottom: 55%;
  left: 0;
  width: 100%;
  color: #fff;
  padding: 10px;
  box-sizing: border-box;
  opacity: 0;
  text-align: center;
  transition: bottom 0.4s ease, opacity 0.4s ease;
  font-size: 13px;
}

.post-img-container:hover .post-title {
  bottom: 45%; 
  opacity: 1;
}

/*//////////////////////////////////////   list 형식 css  /////////////////////////////*/
.post-list-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.post-list-item {
  background-color: #ffffff; 
  border-radius: 15px; 
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
  padding: 20px;
  margin-bottom: 20px;
}

.post-list-item:hover {
  transform: translateY(-10px); 
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2); 
}
.post-list-link {
  text-decoration: none;
  color: inherit;
}

.post-list-content {
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.post-list-img {
  width: 20%;
}


.post-list-time,
.post-list-likes,
.post-list-comments {
  font-size: 0.9rem;
  color: #666;
  margin-right: 27px;
}
/*////////////*/
.post-list-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
  gap:20px;
} 

.post-list-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.post-list-time, .post-list-postContent {
  font-size: 0.9rem;
  color: #666;
}

.post-list-likes,
.post-list-comments {
  margin: 5px;
  margin-right: 20px;
  font-size: 0.9rem;
  color: #666;
}



@media (max-width: 768px) {
  .post-list-img {
    width: 80px;
    height: 80px;
  }

  .post-list-title {
    font-size: 1rem;
  }
}

