.mainSection3 {
  padding: 50px 50px;
}

.keywordList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}
.keyword {
  padding: 10px 20px;
  background-color: #fcfeff;
  border: 1px solid #d1d9e0;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
  font-size: 14px;
  color: #555;
}

.keyword:hover {
  background-color: #e1e7ec;
}

.keyword.selected {
  background-color: #de9d96;
  border: 1px solid #de9d96;
  color: white;
}

.kwdSearchPostList {
  border-top:1px solid #e8e8e8;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.kwdSearchPost {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.kwdSearchTabContainer {
  border-bottom: 1px solid #e4e4e4;
    margin-bottom: 20px;
}
.kwdSearchTabs {
  
  display: flex;
  flex-direction: row;
}

.kwdSearchTab{
  width: 48%;
  padding: 10px 20px;
  border: none;
  border-radius: 20px; 
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: 16px;
  margin-bottom: 10px;
}

.kwdSearchTab.active {
  background-color: #e4efff;
  color: #7e92c4;
}
.containsCheck {
  display: flex;
  width: 100%;
  font-size: 13px;
  flex-direction: row;
  gap: 5px;
  justify-content: flex-end;
  margin-bottom: 7px;
}
.kwdSearchOrder {  
  width: 15%;
  padding: 7px;
  outline: none;
  border-radius: 5px;
}
.kwdSearchSelectZone {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;

}

.searchPaging {
  width: 100%;
  text-align: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.searchPaging li {
  display: inline-block;
}

.searchPaging li a, .searchPaging li a, .searchPaging li span, .searchPaging li span {
  color: #7e92c4;
  text-decoration-line: none;
  padding: 8px 13px 8px 13px;
  margin-right: 3px;
  list-style: none;
}

.searchPaging li a:hover, .searchPaging li span:hover {
  color: #fafafa;
  background-color: #7e92c4;
  border-color: #ddd;
  border-radius: 0.2em;
} 


.searchPaging >ul> li > a {
  color: #7e92c4;
}
.searchPaging .active a,
 .searchPaging .active a:focus, .searchPaging .active a:hover,
  .searchPaging .active span, .searchPaging .active span:focus,
   .searchPaging .active span:hover{
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #7e92c4;
  border-color: #7e92c4;
  border-radius: 0.2em;
  
}