
.mainContent2 {
  flex: 1;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
}
.mainSection {
  margin:auto;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.user-profile {
  max-height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 8  1px;
}

.user-photo img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}


.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 17px;
}

.action-buttons {
  display: flex;
  margin-top: 10px;
  justify-content: center;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.edit-profile-button, .write-post-button {
  width: 130px;
  padding: 13px 23px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 15px;
}
.edit-profile-button{
  margin-right: 10px;
}
.write-post-button{
  margin-left:10px;
}

.edit-profile-button:hover, .write-post-button:hover {
  background-color: #0056b3;
}

.feed-container {
  display: flex;
  align-items: stretch;
}

.feed-tabs {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.feed-tab {
  padding: 10px 20px;
  border: none;
  border-radius: 20px; /* 더 둥근 모서리를 만듭니다 */
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: 16px;
  margin-bottom: 10px;
}

.feed-tab.active {
  background-color: #e4efff;
  color: #6ba3ff;
}

.feed-content {
  width: 90%;
  padding: 30px;
  /* border-radius: 20px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  /* background-color: #f9f9f9;  */
  margin-left: 20px;
}

.feed-content p {
  margin: 0;
}
.my-icon-zone {
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
}
.list-icon svg {
  margin-left: 7px;
  cursor: pointer;
  border-radius: 20%;
  padding: 4px;
  fill: #93c7ff; /* 아이콘 색상 설정 */
  transition: fill 0.3s ease, transform 0.3s ease; 
}

.list-icon svg:hover {
  fill: #0056b3; /* 호버 시 아이콘 색상 변경 */
  transform: scale(1.1); /* 호버 시 아이콘 크기 확대 */
}

.list-icon svg.active {
  fill: #0056b3; /* active 클래스가 추가될 때 아이콘 색상 변경 */
  transform: scale(1.1); /* active 클래스가 추가될 때 아이콘 크기 확대 */
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1); /* active 클래스가 추가될 때 그림자 효과 추가 */
}
.my-Feed {
  display: flex;
  flex-direction: column;
  width: 92%;
}
.no-post {
  text-align: center;
}
.profile-form {
  max-width: 400px;
  margin: auto;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.check-button {
  padding: 7px 11px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 5px 0;
}

.check-button:hover {
  background-color: #0056b3;
}

.input-file-btn,.code-btn {
  padding: 7px 11px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 5px 0;
}
.input-file-btn:hover,.code-btn:hover {
  background-color: #0056b3;
}
.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #007bff;
  border-radius: 50%;
  border: 2px solid #fff;
  color: #fff;
  font-size: 1.0rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.modal-close:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}
.modal-header-h3 {
  text-align: center;
}
.form-group {
  margin: 17px 0;
}

.with-btn .form-input {
  width: 320px;
  margin-right:4px;
}
.usuallyImg {
  margin-left: 10px;
}
.modal-form-id {
  display: inline-block;
}
.id-nonChange {
  font-size: 12px;
  margin-left: 8px;
  color: #7a7a7a;
}
.modal-phone {
  width: 28%;
  margin: 0 5px;
}
.modal-email {
  width: 47%;
}
.react-datepicker__input-container input {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.cate-form {
  display: flex;
  flex-direction: row;
}

.modal-cate-list ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.modal-cate,.modal-kwd {
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  display: inline-block;
  font-size: 14px;
}

.modal-cate.active {
  background-color: #fbd797;
}

.modal-cate:hover {
  background-color: #fbd797;
}
.modal-kwd.active {
  background-color: #e2d6f6;
}
.modal-kwd:hover {
  background-color: #d3bcec;
}
.check-button {
  margin-left: 5px;
}
.codeInput {
  width: 70%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.code-btn {
  margin-left: 10px;
}
.form-p1 {
  display:inline-block;
  margin:5px 0;
}
.form-p2 {
  display:inline-block;
  margin:5px;
  font-size: 12px;
  color: rgb(255, 87, 87);
}