<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="book.project.bookbuddy.main.MainMapper">
    <select id="checkUser" resultType="int">
        SELECT COUNT(USER_NO) FROM USER WHERE USER_ID = #{user_id} AND USER_PWD = #{user_pwd}
    </select>
    
    <select id="getAllCategories">
        SELECT * FROM CATEGORY;
    </select>

    <select id="getAllKeywords">
        SELECT * FROM KEYWORD;
    </select>

    <select id="checkDuplicateId">
        SELECT COUNT(USER_NO) FROM USER WHERE USER_ID = #{id}
    </select>

    <select id="checkDuplicateNick">
        SELECT COUNT(USER_NO) FROM USER WHERE USER_NICK = #{id}
    </select>

</mapper>