<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="book.project.bookbuddy.post.PostMapper">

    <select id="getNotLoginRecommend">
        SELECT * FROM RECOMMEND ORDER BY RECOMMEND_LIKE DESC LIMIT #{page},5
    </select>

    <select id="getNotLoginReview">
        SELECT * FROM REVIEW ORDER BY REVIEW_LIKE LIMIT #{page},5
    </select>

    <insert id="writeRecommendPost" parameterType="RecommendVO">
        INSERT INTO RECOMMEND (RECOMMEND_TITLE, RECOMMEND_CONTENT, RECOMMEND_CATEGORY, RECOMMEND_KEYWORD, USER_NO, RECOMMEND_BOOKTITLE)
        VALUES (#{recommend_TITLE}, #{recommend_CONTENT}, #{recommend_CATEGORY}, #{recommend_KEYWORD}, #{user_NO}, #{recommend_BOOKTITLE});
    </insert>

    <select id="getRecommendNo">
        SELECT RECOMMEND_NO FROM RECOMMEND WHERE USER_NO=#{userNo} ORDER BY RECOMMEND_TIME DESC LIMIT 1;
    </select>

    <insert id="writeReviewPost" parameterType="ReviewVO">
        INSERT INTO RECOMMEND (REVIEW_TITLE, REVIEW_CONTENT, REVIEW_CATEGORY, REVIEW_KEYWORD, USER_NO, REVIEW_BOOKTITLE,REVIEW_RATING)
        VALUES (#{review_TITLE}, #{review_CONTENT}, #{review_CATEGORY}, #{review_KEYWORD}, #{user_NO}, #{review_BOOKTITLE},#{review_RATING});
    </insert>

</mapper>