<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="book.project.bookbuddy.user.UserMapper">

  <update id="updateProfile" parameterType="UserVO">
    UPDATE USER
    SET
        USER_NICK = #{user_NICK},
        USER_PHONE = #{user_PHONE},
        USER_BIRTH = #{user_BIRTH},
        CATEGORY_NO = #{category_NO},
        KEYWORD_NO = #{keyword_NO},
        USER_EMAIL = #{user_EMAIL},
        PROFILE_URL = #{profile_URL}
    WHERE user_NO = #{user_NO}
  </update>
  <select id="getRecommendPostCount">
    SELECT COUNT(*) FROM RECOMMEND WHERE USER_NO = (SELECT USER_NO FROM USER WHERE USER_ID=#{userId})
  </select>
  <select id="getReviewPostCount">
    SELECT COUNT(*) FROM REVIEW WHERE USER_NO = (SELECT USER_NO FROM USER WHERE USER_ID=#{userId})
  </select>
    

</mapper>